bin/
obj/
.vs/
Debug/
Release/
*.user
*.vscode/
李明学的大A/Data/1M/
李明学的大A/Data/1M/*
李明学的大A/Data/5M/
李明学的大A/Data/5M/*
MarcoAI/AICode/MarcoAPI/UI/__pycache__/
MarcoAI/AICode/MarcoAPI/__pycache__/
MarcoAI/AIData/
